/* {
  margin: 0;
  border: 0;
  padding: 0;
}*/

* {
  box-sizing: border-box;
}

header {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

head {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

body {
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: 300;
}

:root {
  background-color: #fdfdfd;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  max-width: 20px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
  

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)

/* headings */

/* CSS rules for elements on the home.html page */

#header {
  color: #c34206
  text-align: center;
  letter-spacing: 4px;
  padding: 20px;
  font-size: 30px;
}

/* navigation links */

h1 {
  color: #c34206;
  text-align: center;
}

#menu {
  text-align: center;
  padding: 20px;
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
}

.menu-item a {
  display: inline-block;
  text-decoration: none;
  color: #d04707;
  padding: 5px;
  letter-spacing: 2px;
  font-size: 17px;
  border-bottom: 2px solid #BFA181;
}

/* hero image */

.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*.hero-container-centre {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  
  object-fit: scale-down;
  transform: scale(.6);
}*/

/*.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}*/

#short-intro {
  color: #068D9D;
  margin: auto;
  width: auto;
  padding: 10px;

}


.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}
/* footer */

.footer-info {
  display: block;
  align-items: flex-end;
  margin: 0;
 float: left;
  left: 0;
  padding-left: 20px;
  color: #068D9D;
}

.social {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px 0 0;
  height: 100px;
}


.social a {
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: #0A1828;
  color: #ffffff;
  line-height: 30px;
}

.social a:hover {
  color: #068D9D;
}

/* CSS rules for elements on the about.html page */

#about-page h1 {
  color: #178582;
}

.about-section h2 {
  color: #c34206;
  display: flex;
  justify-content: center;
}

.about-section {
  color: #068D9D;
  text-align: center;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
}

.cocktails-about-us {
  background-position: bottom left;
background-repeat: no-repeat;
background-size: cover;
}

/* CSS rules for elements on the menu.html page */

#frame-div {
  position: relative;
  width: 80%;
  height: 0;
  padding-top: 99%;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 #a3b9e34a;
  margin-top: auto;
  margin-bottom: 0.9em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

#frame-div iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}


/* CSS rules for elements on the contact.html page */

#contact-page body {
  color: #0A1828;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  display: flex;
}

.header {
  padding: 5px;
  margin-bottom: 10px;
}

.contact-us-container {
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opening-hours {
  margin-bottom: 20px;
  padding-right: 40px;
  text-align: right;
  display: block;
}

.opening-hours p {
  text-align: center;
  padding-right: 20px;
}

.address {
  text-align: left;
  padding-left: 40px;
  margin-bottom: 20px;
  display: block
}

.address p {
  text-align: center;
  padding-left: 20px;
}

body h3 {
  text-align: center;
}

.contact-form {
  display: block;
  display: flex;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.contact-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form input[type="submit"] {
  background-color: #0A1828;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #068d9d;
}


/*.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 78.25%;

  height: 0;
}

.map-container iframe {
  margin-top: 20px;
  height: 300px;
  width: 100%;
}*/

.map-container {
  width: 300px;
  height: 250px;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 15px 10px;
}

img {
  width: 100%;
  height: 100%;
}

/* CSS rules for elements on the booking.html page */

#booking-form body {
  margin: 0;
  padding: 0;
  color: #068D9D;
}

.container {
  max-width: 600px;
  display: flex;
}

h1 {
  text-align: center;
  color: #068d9d;
}

.booking-form {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #068D9D;
}

.form-field {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #0A1828;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #069fb0;
}

/* CSS rules for elements on the thankyou.html page */

#thankyou {
  background-color: #f9f9f9;
  color: #6c0303;
}


#thankyou {
  padding: 20px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}